.error-explanation {
  display: flex;
  justify-content: space-between;
  border-radius: 0.4rem;
  margin: 1rem 0;
  width: 100%;
  background-color: var(--error);
}

.error-explanation ul {
  list-style-type: circle;
  margin: 0.5rem;
  padding: 0 1.5rem;
}

.error-explanation li {
  color: white;
}

.error-explanation img {
  width: 2rem;
  margin: 0.4rem;
  cursor: pointer;
}

.field_with_errors * {
  width: 100%;
}
