<footer>
  <p>
    Created by <strong><%= link_to('Taylor Phillips', 'https://github.com/taphill') %></strong>.
    Icons from <strong><%= link_to('Flaticon', 'https://www.flaticon.com/') %></strong>
  </p>
</footer>
