<header>
  <%= link_to('/', class: 'icon') do %>
    <%= image_tag('icon.png', alt: 'Icon') %>
    <p>TODO</p>
  <% end %>
  <div id="nav" class="hidden">
    <%= button_to('Sign out', "/signout", method: :delete) %>
  </div>
</header>
