<header>
  <%= link_to('/', class: 'icon') do %>
    <%= image_tag('icon.png', alt: 'Icon') %>
    <p>TODO</p>
  <% end %>
  <div id="nav">
    <% if current_user %>
      <p>Hello, <%= current_user.username %>!</p>
      <%= button_to('Sign out', "/sessions/#{current_user.id}", method: :delete) %>
    <% end %>
  </div>
</header>
